.background{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('images/img.jpg') ;
    // background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    // background-size: auto auto ;
    height: 580px;
    // opacity:0.5;
    // background: url(images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

.para{
    padding: 70px;
}

